.container {
    /* font-size: 14px; */
}

.title {
    /* font-size: var(--title-font-size, 26px) !important; */
    font-size: 18px;
    line-height: 1;
    padding: 4px 0px;
}

.sectionLine {
    width: 100%;
    margin: auto;
    height: 1px;
    background-color: var(--text-color);
}

.itemDetailContent{
    margin-top: 0px;
    margin-bottom: 24px;
    /* font-size: var(--content-font-size);
    line-height: var(--line-height, 1.5); */
    font-size: 14px !important;
    line-height: 1.2 !important;
    padding: 0;
}

.itemDetailContent > li{
    margin-top: 4px;
}