*{
    box-sizing: border-box;
}

.tiltleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px ;
}

.tiltleContainer > span {
    padding: 16px 4px;
}

.btnDelete {
    color: color-mix(in srgb, var(--destructive), white 15%);
    cursor: pointer;
    padding: 8px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}

.btnDelete:hover {
    color: var(--destructive);
    background-color: color-mix(in srgb, var(--destructive), white 65%);
    border-radius: 8px;
    border: 1px solid color-mix(in srgb, var(--destructive), white 35%)
}
