*{
    box-sizing: border-box;
}
.sectionTitle{
    font-size: 26px !important;

}

.headerAlignment{
    margin-top: 12px;
}

.headerAlignment > span{
    font-size: 14px;
}

.inputFieldFlex{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inputContainer{
    display: flex;
    gap: 16px;
    align-items: center;
}

.inputContainer > label{
    white-space: nowrap;
}

.avatarField {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

}

.avatarInput {
    display: none;
}

.avatarContainer {
    width: 150px;
    height: 200px;
    margin-top: 24px;
    overflow: hidden;
    /* border-radius: 8px; */
    background: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.avatarContainerHover {
    width: 150px;
    height: 200px;
    /* border: 2px dashed gray; */
    background-color: #18181890;
    color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.avatarContainer:hover > .avatarContainerHover {
    opacity: 1;
}

.avatarContainerEmpty{
    width: 150px;
    height: 200px;
    margin-top: 24px;
    border: 2px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    flex-shrink: 0;
}

