.container {
  background: #f0f0f0;
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
    auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.content {
  position: relative;
  width: 200px;
  height: 100px;
}

.content > .item {
  position: absolute;
  width: 200px;
  height: fit-content;
  transform-origin: 50% 50% 0px;
  font-size: 14.5px;
  background: transparent;
  text-transform: uppercase;
  background-color: aquamarine;
  letter-spacing: 2px;
  touch-action: none;
}

.abc {
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    margin-left: 8px;
    padding-left: 8px;
    border: 1px solid black;
    font-size: 12px; 
    color: #888;
}

/* .content > div:nth-child(1) {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}
.content > div:nth-child(2) {
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
}
.content > div:nth-child(3) {
  background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
}
.content > div:nth-child(4) {
  background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
} */


.sectionItemMinimal {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  user-select: "none";
}

.sectionItemExpand {
  position: relative;
  margin-top: 8px;
}

.itemContent > div {
  position: absolute;
  width: 200px;
  height: fit-content;
  transform-origin: 50% 50% 0px;
  font-size: 14px;
  background: transparent;
  text-transform: uppercase;
  background-color: aquamarine;
  letter-spacing: 2px;
  touch-action: none;
}

.itemContent{
  height: fit-content;
}
