.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.projBasics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    row-gap: 8px;
}

