.sectionLine{
    width: 100%;
    margin: auto;
    height: 1px;
    background-color: var(--text-color);
}

.title {
    font-size: var(--title-font-size, 26px) !important;
}

/* .sectionContent {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 18px;
} */

.itemDetailHeader {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 12px;
    font-size: var(--sub-title-font-size, 16px);
}

.itemDetailHeader span:nth-child(1),
.itemDetailHeader span:nth-child(2),
.itemDetailHeader span:nth-child(3)
{
    font-size: inherit;
    font-weight: 600;
    text-align: center;
}

.itemDetailHeader span:nth-child(2){
    justify-self: center;
    padding: 0px 12px;
}

.itemDetailHeader span:nth-child(3){
   justify-self: end;
   
}

.itemDetailContent{
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: var(--content-font-size);
    line-height: var(--line-height, 1.5);
}

.itemDetailContent > li{
    margin-top: 4px;
}
